html{
	font-weight: normal;
	font-style: normal;
	
}


.back{
	background-color: #344141;
}


.coding{
	width: 100%;
	height: 40px;
	border-radius: 10px;
	padding-left: 15px;
}

.img_1{
	margin-top: 20%;
	text-align: center;
}

.pass_1{
	margin-top: 30px;
}