.title{
    /*background-color: #00A1B3;*/
    height: 10rem;
    font-family: "B Kamran";
    text-align: center;
    margin: 1rem auto;
    font-size: 8rem;
    display: table;
    float: none;
    position: static;

}

.body{
    height: 70rem;
    /*background-color: #337ab7;*/
    margin: 0 auto;
}

.image{
    /*background-color: #3e8e41;*/
    height: 60rem;
    margin: 0 auto;
}

.picture {
    display: table;
    float: none !important;
    margin:0 auto;
    z-index: 0;
    max-height: 800px;
    max-width: 1000px;
}
.video {
    /*background-color: #3e8e41;*/
    height: 60rem;
    margin-left: 25rem;
    margin-top: 5rem;
}

.text_slide {

    /*width: 95%;*/
    border: 3px dotted #28AADC !important;
    border-radius: 0 !important;
    font-size: 2rem;
    text-align: right;
    background-color: #FFFFFF;
    outline: none;
    color: #344141;
    min-height: 60%;
    resize: none;
    /*overflow-y: auto !important;*/
    max-height: 6em;
    position: static;
    margin:0 auto;
    z-index: -1000;
    float: none !important;
    display: table;
    /*overflow: hidden;*/
    /*text-indent: 20rem;*/
}

.text{
    font-family: "B Kamran";
    font-size: 5rem;
    text-align: center;
}

.list_slide{
    height: 60rem;
   margin: -7rem auto;
    display: table;
    float: none !important;
    /*background-color:#2b542c;*/
}

.ul{
    /*background-color: #00A1B3;*/
    margin-top: 3rem;
    font-family: "B Kamran";
    font-size: 5rem;
    margin-left: 0;
    text-align: center;
}
@media screen and (max-width: 767px) {
    .title{
        margin: 1rem auto;
    }

}
/*small*/
@media (min-width: 768px) and (max-width: 991px) {

    .title{
        margin: 3rem auto;
    }

}
/*medium*/
@media (min-width: 992px) and (max-width: 1799px) {
    .title{
        margin: 1rem auto;
    }

}
/*large*/
@media (min-width: 1800px) {
    .title{
        margin: 3rem auto;
    }

}