#std_short_ans_input{
    margin: 1% auto;
    height: 5rem;
    border: 5px solid darkred;
    border-radius: 7px;
    display: table;
    float: none;
}

#question{
    font-size: 7rem;
    text-align: center;
    margin-top: 15%;
    font-family: "B Kamran";
}
#accept_qst{
    margin: 3rem auto;
    float: none;
    display: table;
    height: 4rem;
    background-color: darkred;
    color: whitesmoke;
    font-size: 2rem;
}

#std_long_ans_input{
    margin: 1% auto;
    min-height: 20rem;
    border: 5px solid darkred;
    border-radius: 7px;
    display: table;
    float: none;
    font-size: 4rem;
    overflow-y: scroll;
    text-align: right;
}

#multipleChoice{

    border: 5px solid darkred;
    border-radius: 9px;
    height: 18rem;
    display: table;
    float: none;
    margin: 1% auto;
    min-height: 18rem;

}
ul{
    list-style: none;
}
li{
    position: relative;
    margin-top: 1rem;
    margin-bottom: 10px;
}

#multipleChoice{

}
.choice-div{
    border-bottom: 3px solid darkred ;
    background-color: #C4848A;
    border-bottom: 3px solid darkred;
    height: 8rem;
    text-align: right;
    font-size: 5rem;
    float: none;
    display: table;
    margin: 0 auto;
    font-family: "B Kamran";
}
.radio-btn{
    float: right;
    margin-top: 2rem;
    height: 6rem;
    width: 3rem;
    padding: 15px;
}
/********************************************************************************************PREVIEW****************************************************************************/
#long-answer-preview{
    margin: 19% auto;
    min-height: 7rem;
    border: 3px solid darkred;
    border-radius: 7px;
    display: table;
    float: none;
    font-size: 4rem;
    overflow-y: scroll;
    text-align: right;
    width: 93%;
    visibility: hidden;
}
#short-answer-preview{
    margin: -47% auto;
    min-height: 4rem;
    border: 3px solid darkred;
    border-radius: 7px;
    display: table;
    float: none;
    font-size: 4rem;
    overflow-y: scroll;
    text-align: right;
    width: 68%;
    visibility: hidden;

}

#acc-btn-preview{
    margin-top: 18rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 23rem;
    float: none;
    display: table;
    height: 4rem;
    background-color: darkred;
    color: whitesmoke;
    font-size: 2rem;
    width: 38%;
    visibility: hidden;
}

#add-choice{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    /*-ms-touch-action: manipulation;*/
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 2rem;
    color: #28AADC;
    background-color: #fff;
    /*border-color: #28AADC;*/
    position: static;
    float:left;
    margin-top:8%;
    margin-left: 0;
    font-family:"B Kamran";
    visibility: hidden;
    width: 12rem;

}
#add-choice:hover{
    border: 1px solid #337ab7;
}
#choices{
    font-family: "B Kamran";

}
.input-choice{
    margin-top: 1rem;
    height: 3rem;
    border-radius: 3px;
    text-align: right;
    font-size: 2rem;
}
.close-choice{
    margin-top: 2rem;
    width: 23px;
    float: left;
}


@media screen and (max-width: 767px) {
body{
background-color: #8a6d3b;
}
}
/*small*/
@media (min-width: 768px) and (max-width: 991px) {
    #question{
        margin-top: 35%;
    }
    #multipleChoice{
        height: 60rem;
    }
body{
height: 100%;
/*background-color: #2b542c;*/
}

}
/*medium*/
@media (min-width: 992px) and (max-width: 1199px) {
body{
/*background-color: #9d9d9d;*/
}
}

/*mediom 2*/
@media (min-width: 1200px) and (max-width: 1599px) {
}


/*large*/
@media (min-width: 1600px) {
    .input-choice {
        margin-top: 2rem;
    }

    /*background-color: #030E33;*/
}


