<!DOCTYPE html>
<html>
<head>
    <title>Demo</title>
    <script src="angular.min.js"></script>
    <script src="test.js"></script>
    <script src="test1.js"></script>
</head>
<body>



<div ng-app="app1" ng-controller="HttpGetController1">
    <p>PId: <input type="text" name="firstName" ng-model="pid" required /></p>

    <button ng-click="SendData1()">Submit</button>
    <hr />
    {{ PostDataResponse }}
</div>

<div ng-app="app" ng-controller="HttpGetController" ng-init="SendData()">

    <!--<p>Search Id: <input type="text" name="email" ng-model="email" required /></p>-->
    <!--<button ng-click="SendData()">first click on this</button>-->
    <button onclick="f()">show x value</button>
    <hr />
    <!--{{ PostDataResponse }}-->
</div>

</body>
</html>
