<!doctype html>
<html>
<head>
	<title>authedjoin</title>
	<meta charset = "utf-8"/>
	<link rel="stylesheet" href="css/authed_style.css">
	<link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css">
	<script src="js/lib/angular.min.js"></script>
	<script src="js/controllers/sessionJoin.js"></script>
</head>

<body class = "back">

	<div class="container">
		<div class = "row">
			<div class= "col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-5 col-md-offset-4 col-md-4 img_1">

				<!--<img src="#">-->

			</div>
		</div>
		<div class = "row" ng-app="app" ng-controller="HttpGetController">
			<div class = "col-xs-12 col-sm-offset-4 col-sm-5 col-md-offset-4 col-md-4 pass_1">
				<input name="code" placeholder="Enter Code" class = "coding" ng-model="code">
			</div>

			<div class = "col-xs-12 col-sm-offset-4 col-sm-5 col-md-offset-4 col-md-4 pass_2">
				<input type="submit" name="submit" class = "submitting" value = "ok" ng-click="SendData()">
			</div>

		</div>
	</div>

</body>