<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Slides</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="crate-slide.css">
    <script src="bootstrap.js"></script>
    <script src="create%20slide.js"></script>
    <script src="jquery.js"></script>
    <script src="createSlide.js"></script>

    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <!-- <img class="logo" src="photo_2016-03-24_04-16-36.jpg" alt="">-->
            </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
        </div>

    </div>

</nav>

<div class="container">
    <div class="row">
        <div class="slide-preview col-lg-2 col-sm-1">

        </div>

        <div class="slide-creator col-lg-2 col-sm-1">
            <div class="add-slide-btn">
                <!--<button type="button" class="btn btn-primary btn-lg col-lg-12">Large button</button>-->
                <div class="btn-group">

                    <button type="button" id="add-slide-btn" class="btn btn-primary" >اضافه کردن اسلاید</button>
                    <button type="button" id="save-btn" onclick="save()"  class="btn btn-primary"  >ذخیره</button>
                    <!--<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                        <!--<span class="caret"></span>-->
                        <!--<span class="sr-only">Toggle Dropdown</span>-->
                    <!--</button>-->

                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                    <!--</ul>-->

                </div>
            </div>
        </div>
        <div class="content col-lg-12 col-sm-10">
            <br class="slide col-lg-12 col-sm-10">
            <div class="row">
                <button type="button" onclick="titleFunction()" id="title-btn" class="bttn col-lg-2 col-sm-2 ttl col-centered" >عنوان</button>
                <!--<span class="glyphicon glyphicon-picture"></span>-->
                <img id="close-title" onclick="closeTitleFunction()" src="close_blue%20(11).png">
            </div>
            <!--<p id="demo" onclick="myFunction()">Click me to change my text color.</p>-->
            <div id="etc" class="etc row col-centered">
                <img id="close" onclick="closeFunction()" src="close_blue%20(11).png">
                <button id="img-btn" type="button" onclick="imgFunction()" class="bttn col-lg-2 col-sm-2 col-centered" >اضافه کردن تصویر</button>
                <button id="video-btn" type="button" onclick="videoFunction()" class="bttn col-lg-2 col-sm-2 col-centered" >اضافه کردن فیلم</button>
                <button id="text-btn" type="button" onclick="textFunction()" class="bttn col-lg-2 col-sm-2 col-centered" >افزودن متن</button>
                <button id="list-btn" type="button" onclick="listFunction()" class="bttn col-lg-2 col-sm-2 col-centered" >افزودن لیست  </button>

            </div>
            <script>

            </script>
            <div class="title">
                <!--<textarea class="watermarkOn" cols=20 id="txtCommentSection" name="txtCommentSection "rows=2>Type your comments here</textarea>';-->
                <textarea  id="header-input" type="text" pd-focusable="0.07612095677398467-header" ng-model="slide.header" msd-elastic="msd-elastic" ng-disabled="ngDisabled" placeholder="Add Your Text Here" class="col-lg-6 header-input ng-pristine ng-valid ng-touched" style="overflow: hidden; word-wrap: break-word; resize: none; height: 76px;"></textarea>

            </div>
            <div class="row">

                <div id="add-img" class="add-img col-lg-12 col-centered">
                    <label for="img"><img class="img-label" id="img-label" src="img.png" alt="choose your image"></label></label>
                    <input class="browse" id="img" onchange="readURL(this);" type="file">
                    <img id="blah" src="#"  />
                    <script>
//                        function previewFile() {
//                            var preview = document.querySelector('img');
//                            var file    = document.querySelector('input[type=file]').files[0];
//                            var reader  = new FileReader();
//
//                            reader.addEventListener("load", function () {
//                                preview.src = reader.result;
//                            }, false);
//                            alert(preview.src);
//                            if (file) {
//                                reader.readAsDataURL(file);
//                            }
//                        }

                    </script>
                </div>


                <div id="add-video" class="add-video col-lg-12 col-centered">
                    <label for="video"><img class="img-label" src="video.png" alt="choose your video"></label></label>
                    <input class="browse" id="video" onchange="readURL(this);" accept="video/*" type="file">
                    <video controls autoplay id="blah" src="#"></video>
                </div>



                    <textarea id="hyper-text" type="text" pd-focusable="0.07612095677398467-header" ng-model="slide.header" msd-elastic="msd-elastic" ng-disabled="ngDisabled" placeholder="Add Your Text Here" class="col-lg-6 header-input ng-pristine ng-valid ng-touched" style="overflow: hidden; word-wrap: break-word; resize: none; height: 76px;"></textarea>
                <!--</div>-->
                <div id="add-list" class="add-list col-lg-12 col-centered">
                    <div class="row_list" >
                        <button id="filldetails" type="button" onclick="addFields()" class="bttn col-lg-2 col-sm-2 col-centered" >افزودن لیست  </button>
                        <button id="deldetails" type="button" onclick="delFields()" class="bttn col-lg-2 col-sm-2 col-centered" >حذف لیست </button>
                    </div>

                    <div id="container"/>
                </div>
            </div>
                <script type='text/javascript'>

                </script>
            </div>

        </div>
    </div>
</div>
</div>
</body>
</html>