<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Slides</title>
    <link rel="stylesheet" href="css/lib/bootstrap.css">
    <link rel="stylesheet" href="css/crate-slide.css">
    <script src="js/lib/bootstrap.js"></script>
    <script src="js/create%20slide.js"></script>
    <script src="js/lib/jquery.js"></script>
    <script src="js/createSlide.js"></script>
    <script src="js/lib/jquery.min.js"></script>

    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
</head>


<!---------------------------------------------------------Body------------------------------------------------------->
<body id="body">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <!-- <img class="logo" src="photo_2016-03-24_04-16-36.jpg" alt="">-->
            </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
        </div>

    </div>

</nav>

<div class="container col-lg-10 col-sm-12 col-md-8 col-centered">
    <div style="padding-right: 3rem;" id="row" class="row  col-lg-10 col-sm-10 col-md-8 col-centered">

        <div class="slide-preview col-lg-2 col-sm-2">
        </div>

        <div class="slide-creator col-lg-2 col-sm-3" id="slide-creator">
            <div class="add-slide-btn">
                <!--<button type="button" class="btn btn-primary btn-lg col-lg-12">Large button</button>-->
                <div class="btn-group">

                    <button type="button" id="add-slide-btn" class="btn btn-primary" onclick="addSlide()" >اضافه کردن اسلاید</button>
                    <!--<button type="button" id="save-btn" onclick="save()"  class="btn btn-primary"  >ذخیره</button>-->

                    <!--<div class="div" style="background-color: #2b542c; height: 40px; width: 70px;"></div>-->

                </div>
            </div>
        </div>
        <div id="top-content">
            <div id="content3" class="content col-lg-12 col-sm-10">
            <br class="slide  col-lg-12 col-sm-10">
            <div class="row">
                <button type="button" onclick="titleFunction()" id="title-btn" class="bttn col-lg-2 col-md-2 col-sm-2 ttl" >عنوان</button>
                <div class="title">
                    <!--<textarea class="watermarkOn" cols=20 id="txtCommentSection" name="txtCommentSection "rows=2>Type your comments here</textarea>';-->
                <textarea  id="header-input" onchange="addTitle(this)" type="text" pd-focusable="0.07612095677398467-header" ng-model="slide.header" msd-elastic="msd-elastic" ng-disabled="ngDisabled" placeholder="متن خودرا اینجا بنویسید" class="col-lg-10 col-sm-8 header-input ng-pristine ng-valid ng-touched"
                           style="overflow: hidden; word-wrap: break-word; resize: none; min-height: 50px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;"></textarea>
                    <img id="close-title" onclick="closeTitleFunction();clrSlideTitle(this);" src="img/close_blue%20(11).png">
                </div>

                <!--<span class="glyphicon glyphicon-picture"></span>-->
            </div>
            <!--<p id="demo" onclick="myFunction()">Click me to change my text color.</p>-->
            <div id="etc" class="etc row">
                <img id="close" onclick="closeFunction();clrSlideBody(this);" src="img/close_blue%20(11).png">
                <button id="img-btn" type="button" onclick="imgFunction()" class="bttn col-lg-2 col-md-2 col-sm-2 " >اضافه کردن تصویر</button>
                <button id="video-btn" type="button" onclick="videoFunction()" class="bttn col-lg-2 col-md-2 col-sm-2 " >اضافه کردن فیلم</button>
                <button id="text-btn" type="button" onclick="textFunction()" class="bttn col-lg-2 col-md-2 col-sm-2 " >افزودن متن</button>
                <button id="list-btn" type="button" onclick="listFunction()" class="bttn col-lg-2 col-md-2 col-sm-2" >افزودن لیست  </button>

            </div>

            <div class="row">

                <div id="add-img" class="add-img col-lg-12 col-centered">
                    <label for="img"><img class="img-label" id="img-label" src="img/img.png" alt="choose your image"></label></label>
                    <input class="browse" id="img" onchange="addImg(this);" type="file">
                    <img id="blah" src="#"  />
                    <script>
//                        function previewFile() {
//                            var preview = document.querySelector('img');
//                            var file    = document.querySelector('input[type=file]').files[0];
//                            var reader  = new FileReader();
//
//                            reader.addEventListener("load", function () {
//                                preview.src = reader.result;
//                            }, false);
//                            alert(preview.src);
//                            if (file) {
//                                reader.readAsDataURL(file);
//                            }
//                        }

                    </script>
                </div>


                <div id="add-video" class="add-video col-lg-12 col-centered">
                    <input  type="text" id="video-url" onchange="addVideo(this);"><button type="button" onclick="addVideo(this)" id="videourl-btn" class="bttn col-lg-2 col-md-2 col-sm-4 ttl" >تایید آدرس</button>
                    <!--<label for="video"><img class="img-label" src="img/video.png" alt="choose your video"></label></label>-->
                    <!--<input class="browse" id="video" onchange="readURL(this);" accept="video/*" type="file">-->
                    <video controls autoplay id="blah" src="#"></video>
                </div>



                <textarea id="hyper-text" type="text" onchange="addText(this);" ng-model="slide.header"  placeholder="متن خود را اینجا بنویسید " class="col-lg-11 col-md-11 col-sm-11 header-input ng-pristine ng-valid ng-touched" style="overflow: hidden; word-wrap: break-word; resize: none; height: 76px;"></textarea>
                <!--</div>-->
                <div id="add-list" class="add-list col-lg-12 col-centered">
                    <div class="row_list" >
                        <button id="filldetails" type="button" onclick="addFields();addListItem(this);" class="bttn col-lg-4 col-md-4 col-sm-6 col-centered" >افزودن لیست  </button>
                        <!--<button id="deldetails" type="button" onclick="delFields()" class="bttn col-lg-2 col-md-4 col-sm-6 col-centered" >حذف لیست </button>-->
                    </div>

                    <div id="container"/>
                </div>
            </div>
                <script type='text/javascript'>

                </script>
            </div>
        </div>


    </div>
</div>

</div>
</div>
</body>
</html>
