<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>interactive presentation</title>
    <link rel="stylesheet" href="css/logo-nav.css">
    <link rel="stylesheet" href="css/lib/bootstrap.css">
    <link rel="stylesheet" href="css/interactive-css.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/login-style.css">
    <script src="js/lib/angular.min.js"></script>
    <script src="js/controllers/login.js"></script>
    <script>
        window.open(href, windowname, 'width=400,height=200,scrollbars=yes');
    </script>

</head>
<body>
<!--********************* login and sign up section ************************-->


<!--  <div class="nav-bar">
      <div class="logo"></div>
      <div class="menu"></div>
      <div class="signup"></div>
  </div>
  -->
<main class="masthead">
    <div id="container">
        <div class="ro">
            <div class="row">
            <!--<div   class="col-sm-12 col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 body_1" align="center">-->
            <div   class="col-sm-12 col-lg-4 col-md-4 col-centered body_1 col-centered" ng-app="loginApp" ng-controller="loginAppController">
                <form action = "#" method = "post">
                    <ul class="list">
                        <li>

                            <label class ="field">:نام کاربری</label>
							<input type="text" id="username" name="Username" placeholder="نام کاربری" class="font1" ng-model="username" required>
                        </li>
                        <li>
                            <label class="field">:رمز عبور</label>
                            <input type="password" name="Password" placeholder="رمز عبور" class = "font1" ng-model="password" required>
                            <div style=" font-size:18px; color: #67051B;" id="error"> <p>{{errtext}} </p> </div>
                        </li>
                        <li class="options">
                            <div class="remember">
                                <label class="choice">
                                    <input type="checkbox" name="remember" class="check">مرا به خاطر بسپار
                                </label>
                            </div>
                            <a href="#" class="forgot">فراموشی رمز عبور</a>
                        </li>
                        <li class="bottuns row">
                            <a href="#" id="teacher" class="s3d register" ng-click="SendData1()">
                                ورود ارایه دهنده
                            </a>
                            <a href="#" about="student" class="s3d register" ng-click="SendData2()">
                                ورود مخاطب
                            </a>
                            
                        </li>
                    </ul>

                </form>
            </div>
            </div>
            <!--<script src="http://code.jquery.com/jquery.min.js"></script>-->
            <!--<script src="js/lib/bootstrap.min.js"></script>-->
        </div>
    </div>

</main>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!--<div class="container">-->

    <a href="register.html" id="register" class="rgs">
        ثبت نام
    </a>

        <div class="navbar-header">
            <!--<div class="navbar-brand">-->
                <!--&lt;!&ndash; <img class="logo" src="photo_2016-03-24_04-16-36.jpg" alt="">&ndash;&gt;-->
            <!--</div>-->
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
        </div>

    </div>

</nav>

<!--********************* container section ************************-->
<div class="container">
    <h1>some thing about our site</h1>

    <p>our video</p>
</div>

<!--********************* footer section ************************-->

<div class="footer"></div>

</body>
</html>
