body{
    margin: 0;
}
.nav-bar{
    position: fixed;
    height: 58px;
    width: 100%;
    background-color: #030E33;
}

.side-bar{
    background-color:#67051B ;
    top:58px;
    right: 0;
    position: fixed;
    height:100%;
    width: 150px;
}
.side-bar > ul{
    list-style: none;
    text-align:right;
}
a {
    text-decoration: none;
    color: #FFFFFF;
    line-height: 30px;
    margin-right: 10px;
}

.side-bar li :active,
.side-bar li :focus {
    background-color: #FFFFFF;
    color: #000;
}