<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="rgs.css" />
    <script src="js/lib/angular.min.js"></script>
    <script src="js/controllers/register.js"></script>
    <title>Register From</title>
</head>

<body>
    <main class="header" role="main" ng-app="registerApp" ng-controller="registerAppController">
        <form action="" method="post" class="form">

            <input type="text" placeholder="نام" id="fName" ng-model="firstname" required/>
            <input type="text" placeholder="نام خانوادگی" id="lName" id="lName" ng-model="lastname" required/>
            <input type="text" placeholder="آدرس الکترونیکی" ng-model="email" required/>
            <input type="text" placeholder="رمز عبور" ng-model="password" required/>
            <input type="text" placeholder="تکرار رمز عبور" ng-model="is_audience" required/>
            <div id="container">
                <a href="#" class="s3d register" ng-click="SendData()">
                    ثبت نام
                </a>
            </div>

        </form>

        <!-- <p style="color:black">{{ PostDataResponse }}</p> -->
    </main>
</body>
</html>